<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kinvn.rxjava2demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.kinvn.rxjava2demo.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kinvn.rxjava2demo.SimpleExampleActivity" />
        <activity android:name="com.kinvn.rxjava2demo.MapExampleActivity" />
        <activity android:name="com.kinvn.rxjava2demo.ZipExampleActivity" />
        <activity android:name="com.kinvn.rxjava2demo.DisposableObserverExampleActivity" />
        <activity android:name="com.kinvn.rxjava2demo.TakeExampleActivity" />
        <activity android:name="com.kinvn.rxjava2demo.TimerExampleActivity" />
        <activity android:name="com.kinvn.rxjava2demo.IntervalExampleActivity" />
        <activity android:name="com.kinvn.rxjava2demo.SingleExampleActivity" />
        <activity android:name="com.kinvn.rxjava2demo.CompletableExampleActivity" />
        <activity android:name="com.kinvn.rxjava2demo.FlowableExampleActivity" />
        <activity android:name="com.kinvn.rxjava2demo.ReduceExampleActivity" />
        <activity android:name="com.kinvn.rxjava2demo.BufferExampleActivity" />
        <activity android:name="com.kinvn.rxjava2demo.FilterExampleActivity" />
        <activity android:name="com.kinvn.rxjava2demo.SkipExampleActivity" />
        <activity android:name="com.kinvn.rxjava2demo.ScanExampleActivity" />
    </application>

</manifest>